.repeat-animation.ng-enter-active {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}

.repeat-animation.ng-leave-active {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
.slide-animation.ng-enter, .slide-animation.ng-leave {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
 
.slide-animation.ng-enter {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
 
.slide-animation.ng-enter.ng-enter-active {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
 
.slide-animation.ng-leave {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
 
.slide-animation.ng-leave.ng-leave-active {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
 
 
.repeat-animation.ng-enter, 
.repeat-animation.ng-leave, 
.repeat-animation.ng-move {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
 
.repeat-animation.ng-enter {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
.repeat-animation.ng-enter.ng-enter-active {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
 
.repeat-animation.ng-leave {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
.repeat-animation.ng-leave.ng-leave-active {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
 
.repeat-animation.ng-move {
  opacity:0.5;
}
.repeat-animation.ng-move.ng-move-active {
  opacity:1;
}