<div class="container-fluid">
	<h2>Blogs</h2>
	
	<p ng-hide="pagination.total" class="notFound">You haven't written any blog yet!</p>

	<div class="resultView" ng-show="posts.length">
		<div class="container-fluid">
			<div class="table">
				<div class="tr header row">
					<div class="td col-xs-3 leftAlign">Title</div>
					<div class="td col-xs-3 leftAlign">Author</div>
					<div class="td col-xs-2 leftAlign">Categorie</div>
					<div class="td col-xs-2 leftAlign">Date</div>
					<div class="td col-xs-1">Comments</div>
					<div class="td col-xs-1"></div>
				</div>
				<div class="tr row repeat-animation" ng-repeat="post in posts">
					<div class="td col-xs-3 leftAlign">
						<a href="#/posts/edit/{{post.id}}">{{post.title}}</a>
					</div>
					<div class="td col-xs-3 leftAlign">{{post.author}}</div>
					<div class="td col-xs-2 leftAlign">{{post.category}}</div>
					<div class="td col-xs-2 leftAlign">{{post.created_at | fixdate | date:'MMMM d, yyyy'}}</div>
					<div class="td col-xs-1">{{post.comment_count}}</div>
					<div class="td col-xs-1"><span class="dltbtn" ng-click="destroy($index)">X</span></div>
				</div>
			</div>
			<div class="container-fluid text-center">
				<pagination boundary-links="true" total-items="pagination.total" ng-model="pagination.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="pagination.itemPerPage" rotate="true" ng-click="setPage(pagination.page)" ng-show="pagination.total>pagination.itemPerPage" max-size="5"></pagination>
			</div>
		</div>
		<a href="#/posts/add" class="btn button">Add</a>
	</div>
</div>